.container {
  margin-top: 6.4rem;
  background-color: rgb(34, 42, 52);
  width: 50rem;
  height: 20rem;
  border-radius: 20px;
  /* display: flex; */
  /* flex-direction: column; */
}

.topContainer {
  color: white;
}

.formContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formContainer form label {
  width: 15rem;
  height: 4rem;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.formContainer form label input {
  margin-top: 0.5rem;
}

.formContainer button {
  padding: 0.5rem 3rem;
}