.foodStorageContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-top: 5rem;
  /* border: 2px solid white; */
  width: 90vw;
  height: auto;
}

